<div id="<%= dom_id book %>" class="card shadow-sm mx-auto" style="max-width: 25rem;">
  <div class="card-body">
    <h5 class="card-title text-dark font-weight-bold">Title: <%= book.title %></h5>
    <p class="card-text text-muted font-italic"><strong>By:</strong> <%= book.author %></p>
    <p class="card-text text-muted"><strong>ISBN:</strong> <%= book.isbn %></p>
  </div>
</div>
