<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "admin/form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", admin_path(@book) %> |
  <%= link_to "Back to books", admin_index_path %>
</div>
