<% content_for :title, "New book" %>
<div class="container mx-auto px-4 py-16">
    <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold">New book</h1>
    </div>
    <h1></h1>

    <%= render "form", book: @book %>

    <br>

    <div class="flex justify-between items-center">
        <%= link_to "Back to books", admin_index_path %>
    </div>
</div>